<img src="img/header.png"></img>

<h2> Getting data using APIs dari (Web General, Twitter, atau lainnya) </h2>

### Get data cuaca dari "Weather API"

In [1]:
# Import library request
import requests

In [2]:
apikey = '133559c63e055b23b0dd2dafc698fcfe' # --> imam, 
# tlg masing" sign up mandiri ke https://openweathermap.org/appid

In [3]:
weather_url = "http://api.openweathermap.org/data/2.5/weather" # get kondisi saat ini
#weather_url = "http://api.openweathermap.org/data/2.5/forecast" # get untuk peramalannya
city_name = "Malang"
# print(weather_url)
print(city_name)
print(apikey)

Malang
133559c63e055b23b0dd2dafc698fcfe

In [54]:
#r = requests.get(weather_url, params={'q': city_name, 'APPID': apikey})
r = requests.get(weather_url, params={'q': city_name, 'APPID': apikey})
r.url # `requests` help us encode the URL in the correct format

'http://api.openweathermap.org/data/2.5/weather?q=Malang&APPID=133559c63e055b23b0dd2dafc698fcfe'

In [55]:
r.status_code # 200 means success

200

In [56]:
result = r.json()
result

{'base': 'stations',
 'clouds': {'all': 65},
 'cod': 200,
 'coord': {'lat': -7.98, 'lon': 112.63},
 'dt': 1563388657,
 'id': 1636722,
 'main': {'grnd_level': 926,
  'humidity': 95,
  'pressure': 1011.09,
  'sea_level': 1011.09,
  'temp': 289.464,
  'temp_max': 289.464,
  'temp_min': 289.464},
 'name': 'Malang',
 'sys': {'country': 'ID',
  'message': 0.0101,
  'sunrise': 1563403456,
  'sunset': 1563445597},
 'timezone': 25200,
 'weather': [{'description': 'broken clouds',
   'icon': '04n',
   'id': 803,
   'main': 'Clouds'}],
 'wind': {'deg': 49.279, 'speed': 0.42}}

In [57]:
result['name']

'Malang'

In [58]:
print('Tinggi Permukaan Laut: ',result['main']['sea_level'])

Tinggi Permukaan Laut:  1011.09

In [59]:
print('Suhu: ', str(result['main']['temp']), 'Kelvin')

Suhu:  289.464 Kelvin

In [60]:
print('Suhu: ', str(result['main']['temp']-273.15), 'Celcius')

Suhu:  16.31400000000002 Celcius

In [33]:
print('Kecepatan Angin: ',result['wind']['speed'])

Kecepatan Angin:  0.42

In [8]:
for key, value in result['main'].items():
     print(key, value) # default temperature dalam satuan Kelvin, yang mana K − 273.15 = °C

temp 289.464
pressure 1011.09
humidity 95
temp_min 289.464
temp_max 289.464
sea_level 1011.09
grnd_level 926

### Get data cuaca dari Twitter API

Untuk key API Twitter, untuk sementara silahkan gunakan dari yang pernah saya gunakan berikut:
oauth.consumerKey=JEj5tRSA9JWjWV6imMOrUIVWV
oauth.consumerSecret=7MEa00KHpUbjxble8pdlV74qPbvW2OHqLtjt45QQraJaAzRmAh
oauth.accessToken=935208713551364097-W9Oy0IS2M1dRUQS5MZ6Dnz18BkHUP80
oauth.accessTokenSecret=jCANa7K7werTP2X1mnLlcRBFDHAJt9TZSCbC77FSNCj50

Mohon jgn di-hack ya. 🤓🙏

In [9]:
## suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [10]:
#with open("twitter_keys.csv", "r") as twitter_keys:
#    keys = twitter_keys.read()
#    consumer_key, consumer_secret, access_token, access_secret = \
#        keys.split("\n")[:-1]
consumer_key = "JEj5tRSA9JWjWV6imMOrUIVWV"        
consumer_secret = "7MEa00KHpUbjxble8pdlV74qPbvW2OHqLtjt45QQraJaAzRmAh"
access_token = "935208713551364097-W9Oy0IS2M1dRUQS5MZ6Dnz18BkHUP80"
access_secret = "jCANa7K7werTP2X1mnLlcRBFDHAJt9TZSCbC77FSNCj50"

In [11]:
#!pip install twitter --> install terminal --> optional
#!pip install python-twitter --> install terminal

In [12]:
## load twitter package, which a well-written Python package for Twitter APIs
import twitter
api = twitter.Api(consumer_key=consumer_key,
                  consumer_secret=consumer_secret,                  
                  access_token_key=access_token,
                  access_token_secret=access_secret)

## check status
api.VerifyCredentials()

User(ID=935208713551364097, ScreenName=BigDataFreeCode)

In [13]:
statuses = api.GetUserTimeline(screen_name="BigDataFreeCode")
for s in statuses:
    print(s.text)

tweepy + oauth!

In [16]:
statuses = api.GetUserTimeline(user_id="935208713551364097")
for s in statuses:
    print(s.created_at)

Wed Jul 17 16:28:03 +0000 2019

In [17]:
friends = api.GetFriends()
for f in friends:
    print(f.name)

M. ICHSAN AL-FATIH
Manchester United
Brigata Curva Sud
SMTOWN
Frieska Anastasia
Shania Junianatha
Motivasiilmu
Mind blowon
Shinta Naomi
NU Online
GOT7
A. Mustofa Bisri
BAYU SKAK
Hadith of the Day
BTS_official
Beby Chaesara A
Saktia Oktapyani
Shawn Mendes
Sinka Juliani
Lidya M. Djuhandar
Jessica Veranda
방탄소년단
Boy Candra
Cindy Yuvia
Cristiano Ronaldo
BigHit Entertainment
Fiersa Besari
Ayana Shahab
Twetbijak
Natalia
Cak Lontong
Wira Nagara

In [20]:
results = api.GetSearch(
    raw_query="q=uiowa&result_type=popular&since=2014-12-01&count=20&lang=en") # mencari dalam twitter english

len(results)

from IPython.display import clear_output
for tw in results:
    print("%s. Tweeted by \033[41m%s\033[0m"%(tw.text, tw.user.screen_name))
    
tweet_list = [tw.text.replace('\n', ' ') for tw in results]
# get tweet pada indeks ke-0
tweet_list[0]

Huge congratulations to #uiowa grad and @GameOfThrones co-creator D.B. Weiss. The series earned a record-breaking 3… https://t.co/pLyZ4rS5Ui. Tweeted by uiowa
NEW: The University of Iowa receives Fiske Guide’s ‘Best Buy’ designation for the 15th consecutive year for its aca… https://t.co/9E3mcvydI5. Tweeted by uiowa
It's a Hawkeye state. @UIowaEducation is the top ranked college of education in the state and University of Iowa-tr… https://t.co/LNrO94zbGh. Tweeted by uiowa
Less than 50 days until it's time to #SwarmKinnick. 🖤💛🏈 https://t.co/ll9Mwg3dLV. Tweeted by uiowa
Raise your hand if you're feeling homesick. #uiowa 🖤💛 https://t.co/iUiTVV9sr4. Tweeted by uiowa
Once you've arrived home at the University of Iowa, you never want to leave. https://t.co/cYjUAhj3DK. Tweeted by uiowa
Reliving a season of championships. #TBT 🖤💛 @TheIowaHawkeyes https://t.co/LRExD3LxGZ. Tweeted by uiowa
👀 A hawk finds its way home. https://t.co/AOCkoj0PtW. Tweeted by uiowa

'Huge congratulations to #uiowa grad and @GameOfThrones co-creator D.B. Weiss. The series earned a record-breaking 3… https://t.co/pLyZ4rS5Ui'

### Get dari kata kunci tertentu

In [23]:
results = api.GetSearch(
    raw_query="q=%23BigData&result_type=mixed&since=2014-01-31&count=20&lang=id&") # mencari dalam twitter indonesia
    # https://krypted.com/utilities/html-encoding-reference/ --> makna simbol %23 adalah # untuk hashtag
    # https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
len(results)

from IPython.display import clear_output
for tw in results:
    print("%s. Tweeted by \033[41m %s \033[0m"%(tw.text, tw.user.screen_name))

tweet_list = [tw.text.replace('\n', ' ') for tw in results]
# get tweet pada indeks ke-0
tweet_list[0]

#BigData @AnalyticsWeek #FutureOfData #Podcast with Dr. Nipa Basu, @DnBUS https://t.co/WmR4uUF4NQ. Tweeted by  AnalyticsWeek
Suruah zaki pakai hastag, nyasa lo wak dak pakai hastag aaaaa, indak lo bsa diedit manyasa lo wak kan,… https://t.co/HvXBVvLVdW. Tweeted by  prima_hoax
Dongeng pengantar tidur.
#big #data #bigdata https://t.co/uwX1cRZvUa. Tweeted by  dartoiwan
RT @EvelloCorp: Perbandingan jumlah berita dan sebarannya di Media Sosial antara TNI dan Polri pada periode Juni 2019. Tingginya sebaran me…. Tweeted by  jokoselong
RT @ptaruitm: Sedang berlangsung di Perpustakaan Tun Abdul Razak Utama
Big Data Workshop:
Big Data In Agriculture and Economics Workshop:…. Tweeted by  faizar
🇮🇩 #Peneliti AI yang Pembangkang Tinggalkan Google - Medcom ID https://t.co/iorxqupIwd ⬇️ #KecerdasanBuatan ⬇️… https://t.co/NZB6ceZqvI. Tweeted by  AIVids
🇮🇩 #Presiden Jokowi Tekankan Artificial Intelligence Saat Lantik 781 Perwira TNI-Polri - BeritaSatu… https://t.co/dL2zGAPR1u. Tweeted by  AIVids
RT @EvelloCorp: Perbandingan jumlah berita dan sebarannya di Media Sosial antara TNI dan Polri pada periode Juni 2019. Tingginya sebaran me…. Tweeted by  chidambara09
RT @duniaindustri: 2020, Ekosistem Bisnis Internet di Indonesia Ditaksir Senilai Rp 444 Triliun https://t.co/CloKUNT6ux via @wordpressdotco…. Tweeted by  chidambara09
RT @duniaindustri: Market Analysis di 13 Sektor Industri dan 164 Database https://t.co/BYQO98xEtA via @wordpressdotcom
 #BigData #168Kumpul…. Tweeted by  chidambara09
RT @EvelloCorp: Perbandingan jumlah berita dan sebarannya di Media Sosial antara TNI dan Polri pada periode Juni 2019. Tingginya sebaran me…. Tweeted by  ARIO_A_S
RT @duniaindustri: Data Penjualan Semen 2019 https://t.co/tnQtIp0GJp via @wordpressdotcom
 #BigData #168KumpulanRiset #MarketAnalysis #Surv…. Tweeted by  chidambara09
RT @duniaindustri: Big Data di Sektor Konstruksi https://t.co/GCP9oLPF1f via @wordpressdotcom
 #BigData #168KumpulanRiset #MarketAnalysis #…. Tweeted by  chidambara09
Perbandingan jumlah berita dan sebarannya di Media Sosial antara TNI dan Polri pada periode Juni 2019. Tingginya se… https://t.co/l5wu7a9OLh. Tweeted by  EvelloCorp
RT @duniaindustri: Indonesia Industrial Summit 2019, Revolusi Industri 4.0 Jadi Fokus Utama
https://t.co/hnFLikuPzy
 #BigData #168Kumpulan…. Tweeted by  chidambara09
RT @duniaindustri: Big Data Jadi Trend, Simak 5 Perusahaan Big Data Dunia dan Gebrakannya

https://t.co/iJIPZe8lfA via @wordpressdotcom
 #…. Tweeted by  chidambara09
RT @duniaindustri: 168 Kumpulan Riset Data Industri Per Sektor

https://t.co/mNeSqM5mWT via @wordpressdotcom
 #BigData #168KumpulanRiset #…. Tweeted by  chidambara09
RT @duniaindustri: Data Industri: Update Juli 2019, Kumpulan 168 Hasil Riset Data Industri https://t.co/q6OSwTp2g0
 #BigData #168KumpulanRi…. Tweeted by  chidambara09
Indonesia Industrial Summit 2019, Revolusi Industri 4.0 Jadi Fokus Utama
https://t.co/hnFLikuPzy
 #BigData… https://t.co/k9jwCc9pm2. Tweeted by  duniaindustri
RT @duniaindustri: Data Industri: Database Direktori 935 Perusahaan Elektronik di In... https://t.co/yoPVF1qvHg
 #BigData #168KumpulanRiset…. Tweeted by  chidambara09

'#BigData @AnalyticsWeek #FutureOfData #Podcast with Dr. Nipa Basu, @DnBUS https://t.co/WmR4uUF4NQ'

<img src="img/thumbs-up.png"></img>